#prev-btn, #next-btn {
  position: absolute;
  top: 50%; /* Alineación vertical */
  transform: translateY(-50%);
  background-color: black;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

#prev-btn {
  left: 10px;
}

#next-btn {
  right: 10px;
}
